// Add any custom Sass & CSS here

ul.filters {
    margin-left: 0px;
    text-align: center;
    display: inline-block;

    li {
        display: inline-block;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

li.thumbs {
    display: inline-block;
    list-style: none;
    vertical-align: top;
}

nav.top-bar {
  li{
    @include center;
  }
}

.MoviesList {
    @include center;
    img {
      max-height: 150px;
    }
}

.list_menu {
  @include center;

}

img.thumb {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.imgdetail {
    @include center();
    img {
      max-height: 500px;
    }
}

.textdetail {
    @include center();
    font-size: x-small;
}

.arrows {
	float: right;
}

.left-arrow, .right-arrow {
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 5px;
	cursor: pointer;
	background-color: transparentize($white, 0.2);
	color: $black;
	border-radius: 5px;
	margin-right: 5px;
}

.right-arrow {
	padding-left: 15px;
	padding-right: 10px;
}

.left-arrow:hover, .right-arrow:hover {
	background-color: $white;
}
.buttons
{
  @include center();
}
