<div id="details">
	<div class="row">
		<div class="small-6 small-centered columns detailsContainer">

      <div class="imgdetail column large-6">
        <img ng-src="./data/images/{{movie[0].imdbID}}.jpg" alt="{{movie[0].title}}" />
        <div class="column small-6 large-9">
  			  <div class="arrows">
  			  	<a href="#/details/{{prev[0].imdbID}}"> <span class="fa fa-5x fa-angle-left left-arrow"></span> </a>
  				  <a href="#/details/{{next[0].imdbID}}"> <span class="fa fa-5x fa-angle-right right-arrow"></span> </a>
  			  </div>
        </div>
      </div>

			<div class="textdetails column large-6">
				<h4> {{movie[0].title}} </h4>
				<br>
				Rank: {{movie[0].rank}}
				<br>
				IMDB Rating: {{movie[0].imdbRating}}
				<br>
				Rated: {{movie[0].rated}}
				<br>
				Runtime: {{movie[0].runtime}}
				<br>
				Released: {{movie[0].released}}
				<br>
				Awards: {{movie[0].awards}}
				<br>
				Plot: {{movie[0].plot}}
			</div>
		</div>
	</div>
</div>
